<% stylesheet_link_tag 'index.css' %>
<h1>This is the Test Page</h1>


<div data-controller="hello"></div>

<div data-controller="toggle" data-toggle-change-class="hidden">
  <h2 data-toggle-target="object">This should be able to be turned on and off</h2>
  <button data-action="click->toggle#change">Toggle</button>
</div>



