<% stylesheet_link_tag 'index.css' %>
<h1>This is the Test Page</h1>


<div data-controller="hello"></div>

<div data-controller="toggle" data-toggle-change-class="hidden">
  <h2 data-toggle-target="object">This should be able to be turned on and off</h2>
  <button data-action="click->toggle#change">Toggle</button>
</div>

<div data-controller="toggle" data-toggle-change-class="hidden">
  <a data-toggle-target="object" data-action="click->toggle#change">I'm on</a> <br>
  <a data-toggle-target="object" data-action="click->toggle#change" class="hidden">Now I'm On!</a>
</div>

<div>
  <form action="example.com">
    <ul>
      <li data-controller="toggle" data-toggle-change-class="highlight" data-toggle-target="object">
        <input type="checkbox" id="California" name="states" value="CA" data-action="click->toggle#change">
        <label for="California">California</label>
      </li>

      <li data-controller="toggle" data-toggle-change-class="highlight" data-toggle-target="object">
        <input type="checkbox" id="Oregon" name="states" value="OR" data-action="click->toggle#change">
        <label for="Oregon">Oregon</label>
      </li>

      <li data-controller="toggle" data-toggle-change-class="highlight" data-toggle-target="object">
        <input type="checkbox" id="Arizona" name="States" value="AZ" data-action="click->toggle#change">
        <label for="Arizona">Arizona</label>
      </li>
    </ul>
  </form>
</div>



